<div class="columns">
  <div class="logo column is-one-third is-hidden-mobile">
    <img class="image is-128x128 is-pulled-right" src="assets/img/logo.png" />
  </div>
  <div class="column is-two-thirds is-pulled-left">
    <h1 class="title is-1">
      ChumChart
    </h1>
    <h2 class="subtitle is-3">
      Make a D&D Alignment Chart with your Friends!
    </h2>
    <div class="splash-nav">
      <a routerLink="/quiz" class="button is-light is-inverted is-outlined is-large">Create New Chart</a>
      <a (click)="onClickJoinExisting()" class="button is-light is-inverted is-outlined is-large is-secondary">Join
        Existing</a>
    </div>
  </div>
</div>