<router-outlet></router-outlet>
<!--The content below is only a placeholder and can be replaced.
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="assets/img/logo.png" class="logo image is-pulled-left" />
      <h1 class="title is-clearfix">ChumChart</h1>
    </a>
  </div>
</nav>
<img class="image is-64x64 is-pulled-left" alt="ChumChart Logo" src="assets/img/logo.png"><h1 class="title is-clearfix">ChumChart</h1>

<p><a class="button is-link is-large">Create New Chart</a></p>
<p><a class="button is-success is-large">Join Existing</a></p>
-->